{% extends "home.html" %}

{% block content %}
<style>
    body {
        background-color: #f9f9fa;
    }

    .profile-menu {
        max-width: 800px;
        margin: 20px;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .profile-image {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 20px;
        margin-left: 60px;
    }
    .profile-image2 {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
        margin-top: 20px;
        margin-left: 90px;
    }

    .user-details {
        text-align: center;
        margin-bottom: 20px;
    }

    .workout-details {
        font-size: 14px;
        color: #666;
    }
</style>
{% load static %}
{% csrf_token %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="profile-menu">
                <img src="{% static 'app1/user.gif' %}" alt="Profile Image" class="profile-image">
                <div class="user-details">
                    <h5>{{user.username | default:'Name Unavailable'}}</h5>
                    <p>{{user.email | default:'Email Unavailable'}}</p>
                </div>
                <div class="workout-details profile-image2">
                    <h6>Workout Details</h6>
                    <p>Total Workouts: 25</p>
                    <p>Last Workout: 2 days ago</p>
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
