{% extends 'registration/home/dashboard.html' %}
{% block content %}

<style>
    .newbody {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 80vh;
      margin: 0;
    }

    #video-container {
      max-width: 720px; /* Set your desired maximum width */
      width: 100%;
      text-align: center;
    }

    #video-feed {
      width: 100%;
    } 

    #bicep-counter {
      
      top: 10px;
      left: 10px;
      color: rgb(6, 71, 234);
      font-size: 28px;
    }

    #toggle-btn {
      margin-top: 10px;
      padding: 5px 10px;
      font-size: 16px;
      cursor: pointer;
    }
</style>

<div class="container newbody">
    <h1 id="squat-counter">Squat Rep Counter</h1>

    <div id="video-container">
      <!-- <img id="video-feed" src="" alt="Video Feed" /> -->
      <canvas id="video-canvas" style="width: 100%; height: auto;"></canvas>
    </div>

    <button id="toggle-btn" class="btn btn-success" style="border-radius: 20px;">Start/Stop</button>

    <script>
      function getFrames() {
        const canvas = document.getElementById("video-canvas");
        const ctx = canvas.getContext("2d");
        const scaleFactor = window.devicePixelRatio;

        // Set the canvas dimensions for high resolution
        canvas.width = 1280 * scaleFactor; // Adjust width as needed
        canvas.height = 720 * scaleFactor; // Adjust height as needed

        // Get rep_count and time_limit from the URL query parameters
        const urlParams = new URLSearchParams(window.location.search);
        const rep_count = urlParams.get('rep_count');
        const time_limit = urlParams.get('time_limit');

        // Construct the URL with rep_count and time_limit query parameters
        const videoFeedURL = `{% url 'video_feed' %}?rep_count=${rep_count}&time_limit=${time_limit}`;

        fetch(videoFeedURL).then(async (res) => {
          const reader = res.body.getReader();
          console.log(reader);
          function readNext() {
            reader
              .read()
              .then(({ done, value }) => {
                if (done) {
                  console.log(value);
                  console.log("Stream complete");
                  window.location.href = "workoutcomplete";
                  return;
                }
                const frame = new Uint8Array(value);
                if (frame.length == 9) {
                  console.log("Time limit reached");
                  window.location.href = "workoutcomplete";
                  return;
                } else if (frame.length == 11) {
                  console.log("Rep count reached");
                  window.location.href = "workoutcomplete";
                  return;
                }
                const img = new Image();
                img.src = URL.createObjectURL(
                  new Blob([frame], { type: "image/jpeg" })
                );
                img.onload = function () {
                  ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
                };
                console.log(frame);
                readNext();
              })
              .catch((error) => {
                console.error(error);
              });
          }
          readNext();
        });
      }
      getFrames();
    </script>
</div>

{% endblock %}

{% block scripts %}

{% endblock %}
